<template>
  <div ref="container">
    SCROLL DOWN

    <div class="images-container">
      <div class="image" v-for="image in images" :key="image.src">
        <img v-lazy="image" />
      </div>
    </div>
  </div>
</template>

<script>
import { IMAGES } from '../constants';
import placeholder from '../assets/placeholder.png';

/* eslint import/no-dynamic-require: off */
/* eslint global-require: off */
const importImage = imageName => ({
  src: require(`../assets/365_awesome_designers_files/${imageName}`),
  loading: placeholder,
});

export default {
  computed: {
    images() {
      return IMAGES.slice(0, 50).map(importImage);
    },
  },
};
</script>

<style scoped>
.images-container {
  margin-top: 1500px;
}

.image {
  min-height: 600px;
}
</style>
