<template>
  <div>
    <abstract-player
      v-bind:resource="videoResource"
      contentType="video"
    />

    <abstract-player
      v-bind:resource="audioResource"
      contentType="audio"
    />
  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {
      videoResource: {
        source: 'https://www.youtube.com/embed/wfMtDGfHWpA',
        videoType: 'youtube',
      },
      audioResource: {
        source: 'https://media.radiofrance-podcast.net/podcast09/13022-07.01.2018-ITEMA_21548405-0.mp3',
      },
    };
  },
};
</script>
