<template>
  <div>
    <h1>Lazy component</h1>
    <div>SCROLL DOWN</div>
    <div style="height: 1500px"></div>

    <!-- <lazy-component>
      <abstract-player
        v-bind:resource="audioResource"
        contentType="audio"
      />
    </lazy-component> -->

    <div style="height: 1500px"></div>

    <!-- <lazy-component @show="handler">
      <div v-if="!someComponent"><h1>Loading ...</h1></div>
      <component v-bind:is="someComponent"></component>
    </lazy-component> -->

    <lazy-fov componentName="Card"></lazy-fov>

    <div style="height: 500px"></div>

  </div>
</template>

<script>

export default {
  name: 'home',
  // data() {
  //   return {
  //     someComponent: null,
  //     audioResource: {
  //       source: 'https://media.radiofrance-podcast.net/podcast09/13022-07.01.2018-ITEMA_21548405-0.mp3',
  //     },
  //   };
  // },

  // methods: {
  //   handler() {
  //     import('../components/Card').then(({ default: cmp }) => {
  //       this.someComponent = cmp;
  //     });
  //   },
  // },
};
</script>
