<template>
  <section class="fmm-card">
    <header>
      <h1>Card</h1>
    </header>
    <div class="content">
      <div>
        <h3>Lorem ipsum dolor sit</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quia dolore amet porro dolores mollitia id eum odit fuga adipisci.
          Corporis a voluptates dolores ratione dolorum nam harum quas at molestiae.
        </p>
      </div>
      <div>
        <h3>Corporis a voluptates</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quia dolore amet porro dolores mollitia id eum odit fuga adipisci.
          Corporis a voluptates dolores ratione dolorum nam harum quas at molestiae.
        </p>
      </div>
      <div>
        <h3>Ratione dolorum nam harum</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quia dolore amet porro dolores mollitia id eum odit fuga adipisci.
          Corporis a voluptates dolores ratione dolorum nam harum quas at molestiae.
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'card',
};
</script>

<style scoped>
.fmm-card {
  background-color: #F5F5F5;
  margin: 20px;
  padding: 20px;
}

.fmm-card > header {
  background-color: dodgerblue;
  margin: 10px;
  padding: 5px;
  color: white;
}

.fmm-card .content {
  display: flex;
  flex-flow: row;
}

.fmm-card .content > div {
  text-align: left;
  flex: auto;
  margin: 10px;
  padding: 10px;
  background-color: yellowgreen;
}
</style>
