<template>
  <lazy-component @show="onLazyComponentLoaded">
    <div v-if="!component"><h1>Loading ...</h1></div>
    <component v-bind:is="component"></component>
  </lazy-component>
</template>

<script>
export default {
  name: 'lazy-fov',
  props: {
    componentName: {
      type: String,
    },
  },
  data() {
    return {
      component: null,
    };
  },
  methods: {
    onLazyComponentLoaded() {
      console.log('show');

      import(`./${this.componentName}`).then(({ default: cmp }) => {
        this.component = cmp;
      });
    },
  },
};
</script>
